*
!*/
!/n/Eikonal_Planning/ntrl-demo/ntrl-demo/ntrl-demo/**
!/a/

# large data / outputs (paths are relative to the repo root)
/n/Eikonal_Planning/ntrl-demo/ntrl-demo/ntrl-demo/datasets/
/n/Eikonal_Planning/ntrl-demo/ntrl-demo/ntrl-demo/Experiments/
/n/Eikonal_Planning/ntrl-demo/ntrl-demo/ntrl-demo/results/
/n/Eikonal_Planning/ntrl-demo/ntrl-demo/ntrl-demo/wandb/

/n/Eikonal_Planning/ntrl-demo/ntrl-demo/ntrl-demo/**/.*/
*.sh
*.log
_*
!_*/
!/.gitignore
!/README.md
